@font-face {
  font-family: source-sans;
  src: url(/fonts/SourceSansPro-Regular.ttf);
}

* {
  font-family: source-sans;
}

body {
  width: 250px;
  height: auto;
}

button {
  display: block;
  margin: 10px auto;
  height: 35px;
  width: 100%;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  border: none;
  cursor: pointer;
  text-align: center;
}

button:disabled,
button:disabled:hover {
  background-color: #d7d7db !important;
  color: #737373 !important;
  /* border: 1px solid #000000 !important; */
  cursor: default;
}

button:hover {
  background-color: #363959;
  border: 0;
  color: #ffffff;
}

button#startMonitorBtn:hover {
  background-color: #12bc00;
  color: #ffffff;
}

button#stopMonitorBtn:hover {
  background-color: #d70022;
  color: #ffffff;
}

#monitorStatus {
  margin-bottom: 0px;
}

#monitorStatus,
#errorText {
  font-size: 15px;
  padding: 10px 0px;

  text-align: center;
}

#errorText {
  display: none;
}

.success {
  background-color: rgb(9, 92, 9);
  color: #ffffff;
}

.failure,
#errorText {
  background-color: #d70022;

  color: #ffffff;
}
