@font-face {
  font-family: source-sans;
  src: url(/fonts/SourceSansPro-Regular.ttf);
}

* {
  font-family: source-sans;
}

body {
  width: 250px;
  height: auto;
}

button {
  display: block;
  margin: 10px auto;
  height: 35px;
  width: 100%;
  font-size: 14px;
  color: var(--grey-90-a30);
  background-color: var(--selection-color);
  border: none;
  cursor: pointer;
  text-align: center;
}

button:disabled,
button:disabled:hover {
  background-color: var(--grey-30) !important;
  color: var(--grey-50) !important;
  cursor: default;
}

button:hover {
  background-color: var(--purple-60);
  border: 0;
  color: var(--selection-color);
}

button#startMonitorBtn:hover {
  background-color: var(--green-60);
  color: var(--selection-color);
}

button#stopMonitorBtn:hover {
  background-color: var(--red-60);
  color: var(--selection-color);
}

#monitorStatus {
  margin-bottom: 0px;
}

#monitorStatus,
#errorText {
  font-size: 15px;
  padding: 10px 0px;
  text-align: center;
}

#errorText {
  display: none;
}

.success {
  background-color: var(--green-70);
  color: var(--selection-color);
}

.failure,
#errorText {
  background-color: var(--red-60);
  color: var(--selection-color);
}
