.container button {
  display: block;
  margin: 10px auto;
  height: 35px;
  width: 100%;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
}

.container button.disabled,
.container button.disabled:hover {
  background-color: #dadada;
  color: #747474;
  cursor: default;
}

.container button:hover {
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}

#monitorStatus {
  font-size: 15px;
  padding: 10px 15px;
  text-align: center;
}

p.green {
  background-color: #35a83b;
  color: #ffffff;
}

p.red {
  background-color: #a52c2c;
  color: #ffffff;
}
